.custom-height {
  height: 80vh;
}
.arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-btn:hover{
  background-color: hsl(200, 86%, 67%);
}


#footer {
  background-color: hsl(168, 34%, 41%);
}

.sat-green {
  color: hsl(167, 40%, 24%);
}

.foot {
  background-color: #6EBBAD;
  /* height: 60vh; */
}

/* Hover effect*/
.yellow-underline {
  position: relative;
  display: inline-block;
}

.yellow-underline::after {
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: max-content;
  height: 2px;
  background-color: hsl(51, 100%, 49%);
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease, width 0.3s ease;
}

/* Adjusted hover effect */
.yellow-underline:hover::after {
  transform: scaleX(1);
  width: 100%; 
}

.navbar .icon {
  display: none;
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  #navbar-default {
    background-color: white;
  }

  #navbar-default ul {
    text-align: center;
    border: none;
  }

  #navbar-default ul li {
    margin-bottom: 10px;
  }

  #navbar-default ul li a {
    color: gray;
    display: block;
    padding: 6px;
  }

  #navbar-default button {
    background-color: hsl(51, 100%, 49%);
    color: black;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* .custom-height {
    height: 80vh;
  } */
}


/* responsive images */
@media only screen and (min-width: 768px) {
  .centered-text{
    padding-top: 35% !important;
  }
}